body{
    margin-left: 2em;
    margin-bottom: 0em;
    margin-right: 2em;
    padding: 0;
    font-size: 1.3em;
}

code {
    padding: 0.2em 0.3em;/* 内側の余白 */
    margin: 0 0.2em;/* 外側の余白 */
    border-radius: 10px;/* 角の丸み */
    background: #e9f1fa;/* 背景色 */
    color: #000000;/* 文字色 */
    font-size: 1.0em;/* 文字サイズ */
}

a{
    text-decoration: none;
}

a:visited {
    color: #0000EE;
   }

a:hover {
    text-decoration: underline;
}

b{
    font-size: 1.2em;
}

aside{
    margin: 1%;
    padding: 1%;
    border-radius: 10px;
    background: #e4e3e3;
    color: #4e4c4c;
    font-size: 1.0em;
}

.moredis{
    line-height: 1.5em;
}

.color-b{
    color:blue;
}

.color-r{
    color:red;
}

.color-g{
    color:green;
}

.br1{
margin-left:2em;
text-indent:-1em;
}
.space-A{

margin:0 0 3.5em;

}

.space-B{

margin:0 0 2.4em;

}

.space-C{

margin:0 0 1.4em;

}

.space-D{

margin:0 0 4.5em;

}

.space-E{
    margin:0 0 30.0em;
}